<% provide(:title, 'Home') %>
<% if signed_in? %>
    <%= render 'shared/project_form' %>
    <% if @projects and @projects.any? %>
      <% @projects.each_with_index do |project, index| %>
        <article class="<%= index.even? ? "even_row" : "odd_row" %>">
          <%= render project %>
        </article>
      <% end %>
      <div class="container center">
        <%= will_paginate @projects %>
      </div>
    <% else %>
      <article class="even_row">
      <div class="container center">
        <h1 class="no_projects">You have no projects. Make some!</h1>
      </div>
      </article>

    <% end %>
<% else %>
<article class="even_row">
  <div class="container average_padding center">
    <div class="doodle_example"></div>
    <div class="right_shift">
    <h1 class="home_page">
      Get feedback on your designs as you iterate on them.
    </h1>
    </div>
  </div>
</article>
<article class="header_row">
  <div class="container top_padding bottom_padding center">
      <%= render 'shared/signup_form' %>
  </div>
</article>
<% end %>
