<% provide(:title, 'Home') %>
<% if signed_in? %>
    <%= render 'shared/project_form' %>
    <% if @projects and @projects.any? %>
      <% @projects.each_with_index do |project, index| %>
        <article class="<%= index.even? ? "even_row" : "odd_row" %>">
          <%= render project %>
        </article>
      <% end %>
      <div class="container center">
        <%= will_paginate @projects %>
      </div>
    <% else %>
      <article class="even_row">
      <div class="container center">
        <h1 class="no_projects">You have no projects. Make some!</h1>
      </div>
      </article>

    <% end %>
<% else %>
  <div class="container">
    <div class="center hero-unit">
      <h1>FancyLoop</h1>
      <h2>
        Home page for FancyLoop. Fancy stuffs goes here.
      </h2>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>
