<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <div class="span8 offset2">
      <%= render 'shared/project_form' %>
    </div>
    <div class="span12">
      <% if @projects and @projects.any? %>
        <h3>Projects (<%= @projects.count %>)</h3>
        <div id="columns">
          <%= render @projects %>
        </div>
        <%= will_paginate @projects %>
      <% end %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>FancyLoop</h1>
    <h2>
      Home page for FancyLoop. Fancy stuffs goes here.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
