<% provide(:title, "Sign in") %>
<article class="header_row">
  <div class="container fat_padding center">
    <h3 class="header_row_title">
      Login to FancyLoop. Yay!
    </h3>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.text_field :email, placeholder: "Email Address..." %>
      <%= f.password_field :password, placeholder: "Password..." %>

      <%= f.submit "Sign in", class: "btn btn-large button_project" %>
    <% end %>

    <p class="about center">
      New user? <%= link_to "Sign up now!", signup_path %>
    </p>
  </div>
</article>
