<% provide(:title, "Edit user") %> 
<article class="header_row">
  <div class="container fat_padding center">
    <h3 class="header_row_title">
      Update your profile
    </h3>

    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.text_field :name %>
        <%= f.text_field :email %>
        <%= f.password_field :password, placeholder: "New password" %>

        <%= f.submit "Save changes", class: "btn btn-large button_project" %>
      <% end %>
  </div>
</article>
