<% provide(:title, @user.name) %>
<article class="header_row">
  <div class="container center">
    <h3 class="header_row_title"><%= @user.name %></h3>
  </div>
</article>
<% if @user.projects.any? %>
  <% @projects.each_with_index do |project, index| %>
    <article class="<%= index.even? ? "even_row" : "odd_row" %>">
      <%= render project %>
    </article>
  <% end %>
  <div class="container center">
    <%= will_paginate @projects %>
  </div>
<% else %>
  <article class="even_row">
  <div class="container center">
    <h1 class="no_projects"><%= @user.name %> has no projects :(</h1>
  </div>
  </article>
<% end %>
