<article class="header_row">
  <div class="container center">
    <div class="project_form_container">
      <h3 class="form_title">
        Add a comment to <%= link_to @revision.project.title, @revision.project %> | Version <%= get_version(@revision) %>
      </h3>
      <%= form_for(@feedback) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <% if not current_user %>
            <%= f.text_area :comment, class: "short_comment",
              placeholder: "Provide feedback for this revision", rows: 1 %>
            <%= f.text_field :author, placeholder: "Your name (required)" %>
          <% else %>
            <%= f.text_area :comment, class: "long_comment",
              placeholder: "Provide feedback for this revision", rows: 1 %>
          <% end %>
          <%= f.hidden_field(:revision_id) %>
          <%= f.submit "Comment", class: "btn btn-large button_project" %>
        </div>
      <% end %>
    </div>
  </div>
</article>
